<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand"
                        style="font-weight: 900;font-size:22px;line-height: 37px;display: flex;align-items: center;justify-content: center;"
                        href="#">DEALERS</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse menu" id="navbarNavDropdown">
                        <ul class="navbar-nav list">
                            <li class="nav-item">
                                <a class="nav-link" href="./home.html">HOME</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a style="color: #207DFF;" class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    COLLECTION
                                </a>

                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#"> Men</a></li>
                                    <li><a class="dropdown-item" href="#"> Women</a></li>
                                    <li><a class="dropdown-item" href="#">Children</a></li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Sub Menu
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"> Men</a></li>
                                            <li><a class="dropdown-item" href="#"> Women</a></li>
                                            <li><a class="dropdown-item" href="#">Children</a></li>
                                        </ul>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"> SHOP</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"> CATALOGS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"> CATALOGS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./add.html">ADD PAGES</a>
                            </li>
                        </ul>
                    </div>
                    <div class="iconHeader">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <a href="./wishlist.html"> <i class="fa-regular fa-heart"></i></a>
                        <a href="./basket.html"> <i class="fa-solid fa-bag-shopping"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <!-- 1 -->
        <section id="modawell">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-12">
                        <div class="summer-Collection">
                            <h1>MADEWELL</h1>
                            <p>Summer Collection</p>
                            <h5>1,499 <span>$1,999</span></h5>
                            <div class="first-Section-Buttons">
                                <button class="now">SHOP NOW</button>
                                <button>SHOP NOW</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-12">
                        <div class="girl-Images">
                            <img src="./assets/images/person_transparent.png" alt="person">
                        </div>
                    </div>
                </div>
            </div>
        </section>
       <!-- data -->
       <div id="product" class="row">
        <div class="container"
            style="display: flex;align-items: center;justify-content: center; min-height: 200px;">
            <button id="sortAZ"
                style="padding: 5px 10px 5px 10px;background-color: burlywood;border-color: burlywood;">sort
                A-Z</button>
            <button id="sortZA"
                style="padding: 5px 10px 5px 10px;background-color: burlywood;border-color: burlywood;">sort
                Z-A</button>
            <button id="defaultPro"
                style="padding: 5px 10px 5px 10px;background-color: rgb(222, 135, 135);border-color: rgb(222, 135, 135);">Default</button>
            <div id="popular"
                class="list d-flex justify-content-center flex-wrap gap-5background-color: burlywood;border-color: burlywood;">
            </div>
        </div>
        <div class="button" style="margin-bottom: 20px; display: flex;align-items:end;justify-content: end;">
            <button id="pages" style="padding: 7px 15px 5px 15px;background-color: black;color: white;">
                <i class="fa-solid fa-arrow-left fa-bounce "></i>
                Load More</button>
        </div>
    </div>
        <!-- 2 -->
        <section id="newSummerColloction">
            <div class="container">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-12 col-12">
                            <div class="secondGirlImages">
                                <img src="./assets/images/model_woman_1.png" alt="secondGirlImages">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-12">
                            <div class="jacket">
                                <p>#NEW SUMMER COLLECTION 2019</p>
                                <h1>JACKET</h1>
                                <button>SHOP NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 3 -->
        <section id="collection">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="headerthird">
                            <h1>COLLECTIONS</h1>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-12">
                        <div class="collectionsNew">
                            <img src="./assets/images/product_1.jpg" alt="shose">
                            <div class="thirdText">
                                <h4>The Shoe</h4>
                                <p>Summer Collection</p>
                                <span>$9.50</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-12">
                        <div class="collectionsNew">
                            <img src="./assets/images/product_1.jpg" alt="shose">
                            <div class="thirdText">
                                <h4>The Shoe</h4>
                                <p>Summer Collection</p>
                                <span>$9.50</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-12">
                        <div class="collectionsNew">
                            <img src="./assets/images/product_1.jpg" alt="shose">
                            <div class="thirdText">
                                <h4>The Shoe</h4>
                                <p>Summer Collection</p>
                                <span>$9.50</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 4 -->
        <section id="newDenimCoat">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                        <div class="images">
                            <img src="./assets/images/model_woman_1.png" alt="secondGirlImages">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                        <div class="jacket">
                            <p>#NEW SUMMER COLLECTION 2019</p>
                            <h1>NEW DENIM <br> COAT</h1>
                            <button>SHOP NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="end">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <h3>About Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae reiciendis distinctio
                            voluptates sed dolorum excepturi iure eaque, aut unde.</p>
                        <h3>Subscribe</h3>

                        <div class="form-group" style="display: flex;justify-content: center;align-items: center;">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="email"
                                style="display: flex;justify-content: center;align-items: center;">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <h3>Quick Links</h3>
                        <div style="display: flex; gap: 40px; ">
                            <ul style="list-style: none;">
                                <li>Sell Online</li>
                                <li>Fiotures</li>
                                <li>Shoping Cart</li>
                                <li>Store Bulue</li>
                            </ul>
                            <ul style="list-style: none;">
                                <li>Sell Online</li>
                                <li>Fiotures</li>
                                <li>Shoping Cart</li>
                                <li>Store Bulue</li>
                                <li>Fiotures</li>
                            </ul>
                            <ul style="list-style: none;">
                                <li>Store Bulue</li>
                                <li>Sell Online</li>
                                <li>Fiotures</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <h3>Contact Info</h3>
                        <div style="display: flex;gap: 10px;">
                            <i style="color: rgb(35, 161, 219); margin-top: 5px; " class="fa-solid fa-location-dot"></i>
                            <p>203 Fake St. Mountain View, San Francisco, California, USA</p>
                        </div>
                        <div style="display: flex;gap: 10px; margin-top: 5px;">
                            <i style="color: rgb(35, 161, 219);" class="fa-solid fa-phone"></i>
                            <p>+994-77-333-39-04</p>
                        </div>
                        <div style="display: flex;gap: 10px; margin-top: 5px;">
                            <i style="color: rgb(35, 161, 219);" class="fa-solid fa-envelope"></i>
                            <p>emailaddress@domain.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright ©2024 All rights reserved | This template is made with <i class="fa-solid fa-heart"></i> by <span>Colorlib</span></p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js"
        integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="./assets/js/home.js"></script>
</body>

</html>